body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 75vw;
    margin: 0 auto;
}

#side-panel {
    width: 25%;
    height: 100%;
    background-image: url('background.jpg');
    background-size: cover;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

#side-panel > div {
    background-color: rgba(0, 0, 0, 0.521);
    margin-top: 50%;
    height: 100px;
    text-align: center;
    color: white;
    line-height: 100px;   
}

main {
    width: 75%;
    /* padding: 40px 0 0 0; */
    background-color: #f7f7f7;
    height: 100%;
}

#statement {
    padding: 60px 120px 0 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: large;
}

form {
    background-color: #fff;
    box-shadow: 0px 6px 5px rgb(179, 179, 179);
    padding: 10px 20px;
}

#form_heading {
    font-size: x-large;
    font-family: "Roboto", sans-serif;
}

#form_elems {
    display: flex;
    flex-direction: row;
}

#form_elems > div {
    width: 50%;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

button {
    width: 40%;
    background-color: #596D48;
    border: none;
    height: 50px;
    border-radius: 5px;
    color: #f7f7f7;
    font-size: large;
}